.main-content {
    padding-top: 20px;
    height: 90vh;
    width: 100%;
    text-align: center;
    padding-inline: 10%;
}

@media screen and (max-width:900px) {
    .main-content {
        padding-inline: 2%;
    }
}

.add-diag {
    margin-top: 20px;
    font-size: 20px;
}
